/* !TABLE OF CONTENT  */
/* - - - - - - - - 
1. GENERAL 
2. NAVBAR
3. BANNER
4. WHY CHOOSE US
5. FEATURES 
6. TESTIMONIAL
7. NEWSLETTER
8. FOOTER
- - - - - - - - -  */

/* <--------1. GENERAL --------> */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
:root {
  /* ?Background color */
  --bg-blue: rgba(34, 137, 255, 1);
  --bg-white: #fff;
  --bg-gray: #ecf0f9;

  /* *Text color  */
  --text-black: #0f2b4a;
  --text-white: #fff;
  --text-gray: #576b81;

  /* !FONTS  */
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

/*! <------CUSTOM CSS -------->*/
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: var(--bg-gray);
}
::-webkit-scrollbar-thumb {
  background: var(--bg-blue);
}
section {
  padding: 5rem 0;
}

h1 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 7rem;
  line-height: 8.6rem;
  color: var(--text-black);
}
h2 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 5.8rem;
  color: var(--text-black);
}
h3 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 3.1rem;
  color: var(--text-black);
}
h4 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.7rem;
  color: var(--text-black);
}
h5 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--text-black);
}
h6 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--text-gray);
}
p {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--text-gray);
}
span {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--text-gray);
}

.secondary-btn {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  color: var(--bg-blue);
  padding: 0.8rem 3rem;
  border-radius: 5px;
  border: 1px solid var(--bg-blue);
}
.secondary-btn:hover {
  color: var(--text-white);
  background-color: var(--bg-blue);
  transition: 0.3s linear;
}
.primary-btn {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  color: var(--text-white);
  padding: 0.8rem 3rem;
  border-radius: 5px;
  background-color: var(--bg-blue);
  border: 1px solid var(--bg-blue);
}
.primary-btn:hover {
  color: var(--bg-blue);
  background-color: var(--bg-white);
  transition: 0.3s linear;
}
/*! <------2. NAVBAR SECTION -------->*/

.navbar {
  z-index: 100;
  background-color: var(--bg-white);
}
.header_wrapper .navbar {
  -webkit-animation: all 0.2s linear;
  -o-animation: all 0.2s linear;
  animation: all 0.2s linear;
}

.header_wrapper .navbar-toggler {
  border: 0;
}

.header_wrapper .navbar-toggler:focus {
  box-shadow: none;
}
.header_wrapper .nav-item {
  margin: 0 2rem;
}
.header_wrapper .nav-item .nav-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--text-black);
}
.header_wrapper .nav-item .nav-link:hover {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: rgba(34, 137, 255, 1);
  transition: 0.3s linear;
}

.header-scrolled {
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background-color: var(--bg-gray);
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
  -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

/*! <------3.  BANNER SECTION -------> */
.banner-wrapper {
  padding-top: 10rem;
}
/*! <--------4. WHY CHOOSE US --------> */

/*! <--------5. FEATURES SECTION --------> */
